body.c-app {
    overflow-y: hidden !important
}
.svg-white svg {
    fill: white
}
.hsk-message b.hsk-bold {
    padding-right: 0.1em
}
.hsk-message p.hsk-description, .hsk-message p.hsk-action {
    padding: 0;
    margin: 0
}
.hsk-message ul.hsk-cause {
    margin: 0;
    margin-left: 0.5em
}
.hsk-message ul.hsk-trace {
    padding: 0.3em 0.5em;
    margin: 0;
    background-color: white;
    color: black;
    font-family: monospace;
    font-size: 11px
}
.hsk-message ul.hsk-cause li.hsk-line, .hsk-message ul.hsk-trace li.hsk-line {
    margin-left: 0.5em
}
.hsk-message ul.hsk-trace li.hsk-line + li.hsk-title {
    margin-top: 0.5em
}
td.row-action {
    margin: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important
}
td.row-action a.btn {
    margin: 0;
    padding: 3px 0 0 0
}
label.form-control {
    border-color: transparent;
    color: black;
    margin-bottom: 0
}
.hsk-filter-action .btn {
    padding-top: 1px;
    padding-bottom: 1px
}
input.form-control[disabled], select.form-control[disabled], textarea.form-control[disabled] {
    border-width: 1px;
    background-color: white;
    color: gray;
    cursor: not-allowed;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent
}

.card-header.font-weight-bold .btn{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0!important;
    padding-bottom: 0!important;
    font-weight: bold;
}
span.btn {
    cursor: not-allowed;
    color: gray;
}

.input-group-text .fa{
    min-width: 1em;
}

.hsk-input-filter.open select.oper{
    width: 80px;
    max-width: 80px;
}

.row-filter{}
.row-form{}
.row-view {}
